/* @tailwind base; */

@font-face {
  font-family: yekan;

  src: url(../fonts/IRANYekanWeb.eot);

  src: url(../fonts/IRANYekanWeb.ttf);

  src: url(../fonts/IRANYekanWeb.woff);

  src: url(../fonts/IRANYekanWeb.woff2);
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.left-0 {
  left: 0px;
}

.left-24 {
  left: 6rem;
}

.left-\[50\%\] {
  left: 50%;
}

.top-0 {
  top: 0px;
}

.top-24 {
  top: 6rem;
}

.top-\[61px\] {
  top: 61px;
}

.z-20 {
  z-index: 20;
}

.m-0 {
  margin: 0px;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.mx-\[10px\] {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-\[15px\] {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-\[20px\] {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[10px\] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-\[57px\] {
  margin-top: 57px;
  margin-bottom: 57px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-\[-135px\] {
  margin-left: -135px;
}

.mr-auto {
  margin-right: auto;
}

.mt-0 {
  margin-top: 0px;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[57px\] {
  margin-top: 57px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[2000px\] {
  height: 2000px;
}

.h-\[455px\] {
  height: 455px;
}

.h-\[46px\] {
  height: 46px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[60px\] {
  height: 60px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-\[3000px\] {
  height: 3000px;
}

.h-0 {
  height: 0px;
}

.h-\[50px\] {
  height: 50px;
}

.w-\[100vw\] {
  width: 100vw;
}

.w-\[204px\] {
  width: 204px;
}

.w-\[222px\] {
  width: 222px;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[90px\] {
  width: 90px;
}

.w-auto {
  width: auto;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-\[2px\] {
  width: 2px;
}

.w-\[4px\] {
  width: 4px;
}

.w-\[5px\] {
  width: 5px;
}

.w-\[3px\] {
  width: 3px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-wrap {
  text-wrap: wrap;
}

.text-nowrap {
  text-wrap: nowrap;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border-0 {
  border-width: 0px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#ddd\] {
  --tw-border-opacity: 1;
  border-color: rgb(221 221 221 / var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#f8f8f8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity));
}

.bg-\[\#ff5722\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 87 34 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-backg {
  background-image: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
}

.bg-hero {
  background-image: url('../images/parallax.jpeg');
}

.bg-cover {
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-scroll {
  background-attachment: scroll;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.p-3 {
  padding: 0.75rem;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-end {
  text-align: end;
}

.font-body {
  font-family: yekan, sans-serif;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[28px\] {
  font-size: 28px;
}

.leading-8 {
  line-height: 2rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[46px\] {
  line-height: 46px;
}

.leading-\[52px\] {
  line-height: 52px;
}

.text-\[\#333\] {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.text-\[\#545454\] {
  --tw-text-opacity: 1;
  color: rgb(84 84 84 / var(--tw-text-opacity));
}

.text-\[\#ff5722\] {
  --tw-text-opacity: 1;
  color: rgb(255 87 34 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.no-underline {
  text-decoration-line: none;
}

.opacity-50 {
  opacity: 0.5;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-300 {
  transition-delay: 300ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:bg-\[\#ff6738\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 103 56 / var(--tw-bg-opacity));
}

.hover\:text-\[\#4b4b4b\]:hover {
  --tw-text-opacity: 1;
  color: rgb(75 75 75 / var(--tw-text-opacity));
}

.hover\:text-\[\#e4e4e4\]:hover {
  --tw-text-opacity: 1;
  color: rgb(228 228 228 / var(--tw-text-opacity));
}

.hover\:text-\[\#ff5722\]:hover {
  --tw-text-opacity: 1;
  color: rgb(255 87 34 / var(--tw-text-opacity));
}

.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 768px) {
  .md\:static {
    position: static;
  }

  .md\:left-0 {
    left: 0px;
  }

  .md\:left-auto {
    left: auto;
  }

  .md\:right-\[120px\] {
    right: 120px;
  }

  .md\:mx-\[70px\] {
    margin-left: 70px;
    margin-right: 70px;
  }

  .md\:ml-0 {
    margin-left: 0px;
  }

  .md\:ml-\[30px\] {
    margin-left: 30px;
  }

  .md\:mr-\[50px\] {
    margin-right: 50px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-\[56px\] {
    height: 56px;
  }

  .md\:h-\[140px\] {
    height: 140px;
  }

  .md\:w-\[224px\] {
    width: 224px;
  }

  .md\:w-\[45\%\] {
    width: 45%;
  }

  .md\:w-\[478px\] {
    width: 478px;
  }

  .md\:w-\[95px\] {
    width: 95px;
  }

  .md\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:p-0 {
    padding: 0px;
  }

  .md\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .md\:px-\[110px\] {
    padding-left: 110px;
    padding-right: 110px;
  }

  .md\:py-\[110px\] {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .md\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[20px\] {
    font-size: 20px;
  }

  .md\:text-\[26px\] {
    font-size: 26px;
  }

  .md\:text-\[30px\] {
    font-size: 30px;
  }

  .md\:text-\[32px\] {
    font-size: 32px;
  }

  .md\:text-\[40px\] {
    font-size: 40px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .lg\:ml-\[50px\] {
    margin-left: 50px;
  }

  .lg\:mr-\[100px\] {
    margin-right: 100px;
  }

  .lg\:block {
    display: block;
  }
}
