/* @tailwind base; */
@tailwind components;
@font-face {
  font-family: yekan;
  src: url(../fonts/IRANYekanWeb.eot);
  src: url(../fonts/IRANYekanWeb.ttf);
  src: url(../fonts/IRANYekanWeb.woff);
  src: url(../fonts/IRANYekanWeb.woff2);
}
@tailwind utilities;
